// import constants
@import "constants";
@import "partials/header";
@import "partials/footer";


div.page-404 {
    width:100%;
    height:100vh;

    h1.title-404 {
        font-size:x-large;
        width:100%;
        text-align:center;
        padding-top:45vh;
    }

    p.message-404 {
        font-size:medium;
        width:75%;
        margin:auto;
        text-align:center;
    }
}