//colors
//you can set the 4 colors here and use the darker or lighter variables when necessary
$primary-color: #010081;
$secondary-color: #d3d4d8;
$accent-color: #ff4900;
$text-color: #d3d4d8;

$primary-dark: darken($primary-color, 15%);
$primary-darker: darken($primary-color, 25%);
$primary-light: lighten($primary-color, 15%);
$primary-lighter: lighten($primary-color, 25%);

$secondary-dark: darken($secondary-color, 15%);
$secondary-darker: darken($secondary-color, 25%);
$secondary-light: lighten($secondary-color, 15%);
$secondary-lighter: lighten($secondary-color, 25%);

$accent-dark: darken($accent-color, 15%);
$accent-darker: darken($accent-color, 25%);
$accent-light: lighten($accent-color, 15%);
$accent-lighter: lighten($accent-color, 25%);

$text-dark: darken($text-color, 15%);
$text-darker: darken($text-color, 25%);
$text-light: lighten($text-color, 15%);
$text-lighter: lighten($text-color, 25%);