//colors
//you can set the 4 colors here and use the darker or lighter variables when necessary
$background_main: #12020E;
$background_secondary: #130112;
$accent: #2EAE0A;
$text_main: #acbdbc;
$text_secondary: #28888F;


$background_dark: darken($background_main, 8%);
$background_darker: darken($background_main, 15%);
$background_light: lighten($background_main, 8%);
$background_lighter: lighten($background_main, 15%);

$background_secondary_dark: darken($background_secondary, 8%);
$background_secondary_darker: darken($background_secondary, 15%);
$background_secondary_light: lighten($background_secondary, 8%);
$background_secondary_lighter: lighten($background_secondary, 15%);

$accent_dark: darken($accent, 8%);
$accent_darker: darken($accent, 15%);
$accent_light: lighten($accent, 8%);
$accent_lighter: lighten($accent, 15%);

$text_dark: darken($text_main, 8%);
$text_darker: darken($text_main, 15%);
$text_light: lighten($text_main, 8%);
$text_lighter: lighten($text_main, 15%);

$text_secondary_dark: darken($text_secondary, 8%);
$text_secondary_darker: darken($text_secondary, 15%);
$text_secondary_light: lighten($text_secondary, 8%);
$text_secondary_lighter: lighten($text_secondary, 15%);