@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$paragraph-font-family: 'Source Code Pro', monospace;
$heading-font-family: 'Audiowide', monospace;

//body content fonts
$paragraph-font: 1em $paragraph-font-family;
$paragraph-italic: italic 1em $paragraph-font-family;
$paragraph-bold: bold 1em $paragraph-font-family;
$paragraph-bold-italic: bold italic 1em $paragraph-font-family;

//h1 fonts
$heading1-font: 3.5em $heading-font-family;
$heading1-bold: bold 3.3em $heading-font-family;
$heading1-italic: italic 3.5em $heading-font-family;
$heading1-bold-italic: bold italic 3.3em $heading-font-family;
//h2 fonts
$heading2-font: 3.2em $heading-font-family;
$heading2-bold: bold 3em $heading-font-family;
$heading2-italic: italic 3.2em $heading-font-family;
$heading2-bold-italic: bold italic 3em $heading-font-family;
//h3 fonts
$heading3-font: 2.9em $heading-font-family;
$heading3-bold: bold 2.7em $heading-font-family;
$heading3-italic: italic 2.9em $heading-font-family;
$heading3-bold-italic: bold italic 2.7em $heading-font-family;
//h4 fonts
$heading4-font: 2.6em $heading-font-family;
$heading4-bold: bold 2.4em $heading-font-family;
$heading4-italic: italic 2.6em $heading-font-family;
$heading4-bold-italic: bold italic 2.4em $heading-font-family;
//h5 fonts
$heading5-font: 2.3em $heading-font-family;
$heading5-bold: bold 2.1em $heading-font-family;
$heading5-italic: italic 2.3em $heading-font-family;
$heading5-bold-italic: bold italic 2.1em $heading-font-family;
//h6 fonts
$heading6-font: 2em $heading-font-family;
$heading6-bold: bold 1.8em $heading-font-family;
$heading6-italic: italic 2em $heading-font-family;
$heading6-bold-italic: bold italic 1.8em $heading-font-family;


//body text styling
p {
    font: $paragraph-font;
    color: $text_main;
    margin: 0 0 0 0;
}
//links
a {
    font: $paragraph-italic;
    color: $text_secondary;
    margin: 0 0 0 0;
}
a:hover {
    color: $text_secondary_darker;
}
a:active {
    color: $text_secondary_lighter;
}
//headers
h1 {
    font: $heading1-bold;
    color: $accent;
}
h2 {
    font: $heading2-bold;
    color: $text_secondary_lighter;
}
h3 {
    font: $heading3-font;
    color: $text_secondary_light;
}
h4 {
    font: $heading4-font;
    color: $text_secondary;
}
h5 {
    font: $heading5-font;
    color: $text_lighter;
}
h6 {
    font: $heading6-font;
    color: $text_light;
}

//button styling
button {
    width:8em;
    height:4em;
    border-radius:1em;
    border-color:transparent;
    padding:0;
    background-color: $accent;
    transition: scale 0.5s, translate 0.5s, background-color 0.5s, color 0.5s;
    a {
        font: $paragraph-bold-italic;
        color: $background_secondary;
    }
    a:hover {
        color: $background_secondary_dark;
    }
    a:active {
        color: $background_secondary_darker;
    }

    p {
        margin-top:0;
        font: $paragraph-bold;
        font-size:2em;
        color: $background_secondary;
    }
}
button:hover {
    scale: 110%;
    translate: 5%;
    background-color: $accent_dark;
}
button:active {
    scale: 120%;
    translate:10%;
    background-color: $accent_darker;
}

//change the color of the background when the user highlights/selects something.
::selection {
    background-color: darken($accent, 50%);
}