#header { 
    background:none;
    width:100%;
    height:5vh;
    position:fixed;
    top:0;

    #header-name-container {
        width:fit-content;
        margin:auto;
        p.header-name {
            font-size:2vh;
            margin-top:1.5vh;
        }
    }
}