//base css file


body { 
    background-color:$background_main; //site background
    margin:0 0 0 0;
}

//header css
@import "../partials/components/_header.scss";

//footer css
@import "../partials/components/_footer.scss";

#container {
    width:100%;
    min-height:100vh; //ensures the website at the least fills up the entire screen.
}

//404 page
@import "../partials/components/_404.scss";

//index page
@import "../partials/components/_index.scss";

//front/primary page
@import "../partials/components/_front-page.scss";